<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EAT24</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="#">Items</a>
        <a class="nav-link" href="#">Table Booking</a>
      </div>
      <div style="margin-left: auto;" class="d-flex">
        <% if(!currentUser){ %> 
        <a href="/login" class="btn btn-primary mx-1" style="margin: 10px 0;">login</a>
        <a href="/register" class="btn btn-primary mx-1" style="margin: 10px 0;">Register</a>
        <% }else{ %> 
        <form action="/logout" method="get">
          <button class="btn btn-primary mx-2" style="margin-top: 10px;">logout</button>
        </form>
        <% } %> 
        <% if(currentUser){ %> 
          <a href="/profile/<%= currentUser._id %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-circle btn btn-light" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      </a>
      <p class="mt-2 display-6 fs-3" style="margin-left: 5px; font-weight:400 ;"><%= currentUser.username %></p>

    </div>
    <% }  %> 
      </div>
    </div>
  </div>
</nav>
