<% layout("layouts/boilerplate.ejs") %>
<div class="container">
    <!-- Example single danger button -->
    
<div class="d-flex">
    <% if(currentUser){ %> 
        <a href="/profile/<%= currentUser._id %>">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-circle btn btn-light" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
    </a>
    <div class="display-4 fs-3 mt-2 " style="margin-left: 10px">
      <%= currentUser.username %>
    </div>
  </div>
  <% }  %> 
<h1 class="display-4 mt-4">Welcome to EAT24...</h1>
</div>